<!-- Toolbar -->
<div class="cat-card">
    <div class="toolbar" role="banner">
        <img src="../assets/icon-hamburger-icon.PNG" class="icon-hamburger">
        <span style="text-align: center;" class="title">Add a Cat</span>
        <img src="../assets/menu.PNG" class="menu-icon">
        
        <div class="spacer"></div>
    </div>
    <div class="formBody">
        <div class="name">
            <label class="Input-label">Name:</label>
            <input type="text" class="input-text">
        </div>
        <div class="rating">
            <label class="rating-label">Rating:</label>
            <img src="../../assets/rating.PNG" style="float: right;
           height: 34px;">

        </div>
        <div class="uploadImage">
            <div class="cat-image"><span class="insert-image-text">Insert cat image</span></div>
            <div class="upload-button">
                <a class="uploadImageText">Upload Image</a>
                <a class="cancel">Cancel</a>
                <a class="save-button">Save</a>
            </div>
        </div>
        <div class="addLocation" style="margin-top: 50px;">
            <img src="../../assets/location.PNG" class="location-image">
            <label class="location-label">Add location<small class="track-text">You can't track me</small></label>
            <div class="location-div"></div>
            <p class="secondary-text-Lorem">Location details</p>
            <p class="set-current-location">Set current location</p>
        </div>
        <button class="btn btn-primary submit-button"><span class="button-text">Submit</span></button>
    </div>
</div>